.contactsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 19px;
    justify-items: center;
}

.socialsLinkContainer {
    display: inline-block;

}